*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Lato', sans-serif;
}

img{
    display: block;
}

p{
    letter-spacing: 1px;
    line-height: 1.7;
    opacity: .9;
    font-size: 18px;
}

b{
    font-weight: bolder;
    font-size: 1.1em;
}

body{
    background: #191b1e;
    color: #fff;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .4;
    height: 100%;
    width: 100%;
}

h1{
    border-radius: 100%;
    overflow: hidden;
    margin: 0;
}

h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 2px;
    font-weight: 400;
}