.footer{
    width: 100%;
    background: #2a2a2a;
    padding: 30px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: -30px;
        position: relative;
        z-index: 99;
    }
    p, a{
        font-size: 11px;
        margin: 0;
        color: #fff;
    }
    .license{
        display: block;
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            margin-top: 2px;
            text-align: right;
        }
    }
    .license, .license a{
        opacity: .5;
    }
}