@import 'normalize';

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Lato', sans-serif;
}

img{
    display: block;
}

p{
    letter-spacing: 1px;
    line-height: 1.7;
    opacity: .9;
    font-size: 18px;
}

b{
    font-weight: bolder;
    font-size: 1.1em;
}

body{
    background: #191b1e;
    color: #fff;
}

.wrapper{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 100%;
    z-index: 99;
    height: 80px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 0 20px;
    @media screen and (min-width: 769px) {
        padding: 0 3%;
    }
    a{
        text-decoration: none;
        color: #fff;
        opacity: .7;
        transition: opacity .2s ease-out;
        &:hover{
            opacity: 1;
        }
    }
    h2{
        margin: 0;
        font-size: 18px;
    }
    svg{
        display: block;
        fill: #fff;
        width: 20px;
        height: 20px;
    }
}

.section{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    text-align: center;
    z-index: 10;
    padding: 50px 5%;
    @media screen and (min-width: 769px) {
        padding: 100px 15%;
    }
    p{
        margin-bottom: 7%;
    }
}

.cont-canvas{
    position: relative;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .4;
}

.box-circle{
    position: relative;
    display: inline-block;
    &.is-loaded{
        &:after{
            transform: translate(-50%,-50%) scale(.9);
            animation: bounceIn 2s infinite;
        }
        &:before{
            transform: translate(-50%,-50%) scale(.9);
            animation: bounceIn 2s infinite .3s;
        }
    }
    h1{
        position: relative;
        z-index: 1;
    }
    &:before, &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid #fff;
        border-radius: 100%;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(.7);
    }
}

@keyframes bounceIn {
  0% {
    transform: translate(-50%,-50%) scale(.7);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,-50%) scale(1.5);
    opacity: 0;
  }
}

h1{
    border-radius: 100%;
    overflow: hidden;
    margin: 0;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 2px;
    font-weight: 400;
}

.day-text{
    font-family: 'Roboto Slab', serif;
    margin: 50px 0;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
    background: #fff;
    color: rgba(0,0,0,0.7);
    border-radius: 8px;
    display: inline-block;
    position: relative;
    padding: 20px;
    text-align: left;
    &:after{
        content: " ";
        right: 100%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 15px;
    }
    @media screen and (min-width: 769px) {
        font-size: 2.5vw;
    }
}


.telegram-me, .message-me{
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background .1s ease-out;
    svg{
        fill: #fff;
        display: block;
    }
    i{
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
}

.telegram-me{
    background: #39b0e3;
    &:hover{
        background: darken(#39b0e3, 7);
    }
    i{
        width: 16px;
        height: 16px;
    }
}

.button-box{
    padding: 5%;
    display: inline-flex;
    margin: 0 auto;
    background: rgba(0,0,0,0.06);
    justify-content: space-between;
    > a{
        width: 145px;
    }
}

.popup{
    opacity: 0;
    transform: translateY(-15px);
    transition: all .4s ease-out;
    span{
        display: block;
    }
    .bubbles-text{
        opacity: 0;
        transition: all .3s ease-out;
        transition-delay: 3s;
        z-index: 9;
    }
    &.is-active{
        opacity: 1;
        transform: translateY(0);
        .bubbles-text{
            opacity: 1;
        }
        &+.popup{
            transform: translateY(0);
            opacity: 1;
            transition-delay: 3s;
            .bubbles-text{
                opacity: 1;
                transition-delay: 6s;
            }
            &+.popup{
                transform: translateY(0);
                opacity: 1;
                transition-delay: 6s;
                .bubbles-text{
                    opacity: 1;
                    transition-delay: 9s;
                }
                &+.popup{
                    transform: translateY(0);
                    opacity: 1;
                    transition-delay: 9s;
                    .bubbles-text{
                        opacity: 1;
                        transition-delay: 11s;
                    }
                }
            }
        }
    }
}

.box-message{
    padding: 100px 5% 130px 5%;
    > div{
        display: flex;
        align-items: center;
        &+div{
            margin-top: 3%;
        }
        &.is-first{
            p{
                margin-left: 30px;
                &:after{
                    content: " ";
                    right: 100%;
                    border: solid transparent;
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                    border-right-color: lighten(#f9b233, 25);
                    border-width: 10px;
                }
            }
            .bubbles{
                &:after{
                    content: " ";
                    right: 100%;
                    border: solid transparent;
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                    border-right-color: lighten(#f9b233, 25);
                    border-width: 10px;
                }
            }
        }
    }
    p{
        opacity: .7;
        font-size: 16px;
        margin-left: 70px;
        color: #030303;
        padding: 8px 18px;
        border-radius: 6px;
        background: lighten(#f9b233, 25);
        display: inline-block;
        position: relative;
        transition: all .3s ease-out;
    }
}

.bubbles{
    opacity: .7;
    font-size: 16px;
    color: #030303;
    padding: 8px 18px;
    border-radius: 6px;
    background: lighten(#f9b233, 25);
    display: inline-block;
    transition: all .3s ease-out;
    position: absolute;
    width: 81px;
    height: 35px;
    margin: 0;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    i{
        width: 11px;
        height: 11px;
        display: inline-block;
        border-radius: 11px;
        background: #000;
        opacity: .5;
        animation: writing 1s infinite .5s;
        &+i{
            margin-left: 6px;
            animation: writing 1s infinite .7s;
            &+i{
                animation: writing 1s infinite .9s;
            }
        }
    }
}

.box-message-logo{
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.box-map{
    width: 100%;
    min-height: 400px;
    position: relative;
    background: #f5f5f3;
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    > div{
        width: 50%;
        position: relative;
        iframe, #map{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    .box-map-footer{
        background: #2a2a2a;
        position: absolute;
        width: 100%;
        height: 30px;
        left: 0;
        bottom: 0;
    }
}

.message-me{
    background: #0084ff;
    &:hover{
        background: lighten(#0084ff, 7);
    }
}

.footer{
    width: 100%;
    background: #2a2a2a;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
        height: 30px;
        padding: 0 3% 30px;
    }
    p, a{
        font-size: 11px;
        margin: 0;
        color: #fff;
    }
    .license{
        text-align: center;
        display: block;
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            margin-top: 2px;
        }
    }
    .license, .license a{
        font-size: 9px;
        opacity: .5;
    }
}


.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    z-index: 9999;
    opacity: 1;
    transition: .5s ease-out;
    &.is-loaded{
        opacity: 0;
    }
    &.is-end{
        display: none;
    }
}

.box-main-message{
    opacity: 0;
    transform: translateY(-10%);
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    max-width: 800px;
    margin: 0 auto;
    &.is-loaded{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes writing {
  0% {
    transform: scale(.9);
    opacity: .5;
  }
  50% {
    transform: scale(1);
    opacity: .7;
  }
  100% {
    transform: scale(.9);
    opacity: .5;
  }
}